html, body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: gilroy, "Helvetica Neue", Arial, "Noto Sans";
}

body {
    height: 100%;
    background-color: rgb(233, 233, 233);
}

#renderWeb {
    height: 100%;
}
